backports.shutil-get-terminal-size==1.0.0
boto==2.38.0
certifi==2017.7.27.1
chardet==3.0.4
configparser==3.5.0
cryptography==1.2.3
dnspython==1.12.0
duplicity==0.7.6
enum34==1.1.6
flake8==3.4.1
idna==2.6
ipaddress==1.0.16
lockfile==0.12.2
mccabe==0.6.1
ndg-httpsclient==0.4.0
pathlib==1.0.1
pew==1.1.0
pipenv==8.2.7
pyasn1==0.1.9
pycodestyle==2.3.1
pycrypto==2.6.1
pyflakes==1.5.0
pygobject==3.20.0
pyOpenSSL==0.15.1
python-cloudfiles==1.7.10
pyxdg==0.25
requests==2.18.4
shutilwhich==1.1.0
six==1.10.0
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
