<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pay type: TIP</title>
</head>
<body>

<form name="Pay" method="post" action="https://tip.pay-trio.com/ru/" accept-charset="UTF-8">
    <div>
        <label for="amount">Amount "USD"</label><br>
        <input id="amount" name="amount" value="{{ context.amount }}" readonly/>
    </div>
    <div>
        <input type="hidden" id="currency" name="currency" value="{{ context.currency }}" />
    </div>
    <div>
        <input type="hidden" name="shop_id" value="{{ context.shop_id }}" readonly/>
    </div>
    <div>
        <input type="hidden" name="sign" value="{{ context.sign }}" />
    </div>
    <div>
        <input type="hidden" name="shop_invoice_id" value="{{ context.shop_invoice_id }}" />
    </div>
    <div>
        <label for="description">Description</label><br>
        <input id="description" name="description" value="{{ context.description }}" />
    </div>
    <input type="submit"/> <a href="{{ url_for('index') }}">Cancel</a>
</form>
</body>
</html>